{% extends 'base.html' %}
{% load static i18n widget_tweaks %}

{% block title %}
MarkUs | Sign up
{% endblock %}

{% block content %}
    <div class="globalWrapper sign_up_page">
		<section class="formLeft col-sm-6">
			<div class="formLeftImg">
				<img src="{% static 'images/city.jpg' %}" al="">
			</div>
			<div class="leftTitle">
				<h1>Sign up</h1>
			</div>
		</section>
		<section class="formRight col-sm-6">
			<div class="logo">
				<img src="{% static 'images/Logo.png' %}" alt="">
			</div>
			<div class="formTitle signUp">
				<h3>MarkUs</h3>
				<p>Please complete to create your account</p>
			</div>
			<form class="formSignUp" action="" method="post">
                {% csrf_token %}
				<div class="form-item form-itemHalf">
					<input type="text"
                           name="{{ form.first_name.name }}"
                           placeholder="{% trans 'First name' %}"
                           value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                    >
                    {% if form.first_name.errors %}
                        <div class="error-block">
                            {{ form.first_name.errors }}
                        </div>
                    {% endif %}
                    <input type="text"
                           name="{{ form.last_name.name }}"
                           placeholder="{% trans 'Last name' %}"
                           value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"
                    >
				    {% if form.last_name.errors %}
                        <div class="error-block">
                            {{ form.last_name.errors }}
                        </div>
                    {% endif %}
                </div>
				<div class="form-item form-itemHalf">
					<input type="text"
                           name="{{ form.company_name.name }}"
                           placeholder="{% trans 'Company name' %}"
                           value="{% if form.company_name.value %}{{ form.company_name.value }}{% endif %}"
                    >
					{% if form.company_name.errors %}
                        <div class="error-block">
                            {{ form.company_name.errors }}
                        </div>
                    {% endif %}
                    {{ form.category }}
                    {% if form.category.errors %}
                        <div class="error-block">
                            {{ form.category.errors }}
                        </div>
                    {% endif %}
				</div>
				<div class="form-item form-itemHalf">
					<input type="email"
                           name="{{ form.email.name }}"
                           placeholder="{% trans 'Email' %}"
                           value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                    >
                    {% if form.email.errors %}
                        <div class="error-block">
                            {{ form.email.errors }}
                        </div>
                    {% endif %}
                    <div class="input-group prefix">
                        <span class="input-group-addon">+998</span>
                        <input
                                type="text"
                                name="{{ form.username.name }}"
                                placeholder="{% trans 'Phone number' %}"
                                value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                                pattern="[0-9]{9}"
                                size="9"
                                maxlength="9"
                        >
                    </div>
                    {% if form.username.errors %}
                        <div class="error-block">
                            {{ form.username.errors }}
                        </div>
                    {% endif %}
				</div>
				<div class="form-item form-itemPass">
					<input type="password"
                           name="{{ form.passwd.name }}"
                           placeholder="{% trans 'Password' %}"
                    >
                    {% if form.passwd.errors %}
                        <div class="error-block">
                            {{  form.passwd.errors  }}
                        </div>
                    {% endif %}
				</div>
				<div class="form-item form-itemPass">
					<input type="password" name="{{ form.confirm_passwd.name }}" placeholder="{% trans 'Confirm password' %}">
                    {% if form.confirm_passwd.errors %}
                        <div class="error-block">
                            {{ form.confirm_passwd.errors }}
                        </div>
                    {% endif %}
				</div>
				<div class="form-itemAgreement">
					<input id="itemAgreement"
                           type="checkbox"
                           name="checked"
                           required
                           {% if form.username.value %}checked{% endif %}

                    >
                    <label for="itemAgreement">
                        {% trans 'I agree with terms and conditions' %}
                    </label>
				</div>
				<div class="form-actions">
					<input type="submit" name="" value="{% trans 'Sign up' %}">
				</div>
			</form>
			<div class="hasAccount">
				<p>
					<a href="{% url 'users:login_page' %}">
                        {% trans 'Already have an account' %}? {% trans 'Sign in' %}
                    </a>
				</p>
			</div>
		</section>
	</div>
{% endblock %}
