{% extends 'base.html' %}

{% block title %}
MarkUs | Change password
{% endblock %}

{% block content %}
    <section class="wrapper password_change_page">
        {% include 'parts/main_header.html' %}
        <div class="dashboard account_configuration">
            <div class="dashboard_title">
                <div class="container">
                    <div class="row">
                        <h2>Change password</h2>
                    </div>
                </div>
            </div>
            {% include 'parts/messages.html' %}
            <div class="dashboard_content">
                <div class="container">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="btn btn-primary" value="Save">
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block css %}
    <style>
    .password_change_page p {
        font-size: inherit;
        margin: 10px;
        text-align: left;
    }

    .password_change_page form label {
        display: block;
    }

    .password_change_page ul {
        text-align: left;
    }

    .password_change_page form input[type='password'] {
        width: 20%;
    }

    .password_change_page form input[type='submit'] {
        float: left;
        margin: 10px;
    }
    </style>
{% endblock %}