<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>SingUP</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="globalWrapper">
		<section class="formLeft col-sm-6">
			<div class="formLeftImg">
				<img src="images/city.jpg" al="">
			</div>
			<div class="leftTitle">
				<h1>Sign up</h1>				
			</div>
		</section>
		<section class="formRight col-sm-6">
			<div class="logo">
				<img src="images/Logo.png" alt="">
			</div>
			<div class="formTitle signUp">
				<h3>MarkUs</h3>
				<p>Please complete to create your account</p>				
			</div>
			<form class="formSignUp">
				<div class="form-item form-itemHalf">
					<input type="text" name="" placeholder="First name">
					<input type="text" name="" placeholder="Last name">
				</div>
				<div class="form-item form-itemHalf">
					<input type="text" name="" placeholder="Company name">
					<select>
						<option>Category</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
					</select>
				</div>				
				<div class="form-item form-itemHalf">
					<input type="email" name="" placeholder="Email">
					<input type="phone" name="" placeholder="Phone number">
				</div>				
				<div class="form-item form-itemPass">
					<input type="password" name="" placeholder="Password">
				</div>
				<div class="form-item form-itemPass">
					<input type="password" name="" placeholder="Confirm password">
				</div>
				<div class="form-itemAgreement">
					<input type="checkbox" name=""><label>I agree with terms and conditions</label>
				</div>
				<div class="form-actions">
					<input type="submit" name="" value="Sign up">
				</div>				
			</form>
			<div class="hasAccount">
				<p>
					<a href="#">Already have an account? Sign up</a>
				</p>
			</div>
		</section>
	</div>    
	<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>