<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>SingIN</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div class="globalWrapper">
			<section class="formLeft col-sm-6">
				<div class="formLeftImg">
					<img src="images/city.jpg" al="">
				</div>
				<div class="leftTitle signIn">
					<div class="signInLeftBlock">
						<h1>Welcome to MarkUs</h1>
						<p>Lorem ipsum dolor sit amet  consectur Avanir monsterrat santoreo comodus cored</p>
						<a href="">Create account</a>
					</div>				
				</div>
			</section>
			<section class="formRight col-sm-6">
				<div class="logo">
					<img src="images/Logo.png" alt="">
				</div>
				<div class="formTitle signIn">
					<h3>MarkUs</h3>
					<p>Welcome back! Please login to your account.</p>
				</div>
				<form class="signInForm">
					<div class="form-item signIn">
						<input type="text" name="" placeholder="Username">
					</div>
					<div class="form-item signIn">
						<input type="password" name="" placeholder="Password">
					</div>
					<div class="formSaveandForgot clearfix">
						<div class="formSave">
							<input type="checkbox" name="">
							<label>Remember me</label>
						</div>
						<div class="formForgot">
							<a href="">Forgot password</a>
						</div>
					</div>
					<div class="form-actions signIn">
						<input type="submit" name="" value="Login">
						<input type="submit" name="" value="Sign up">
					</div>
				</form>
			</section>
		</div>    
		<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
	</body>
</html>