{% extends "base.html" %}
{% load i18n static %}

{% block title %}
MarkUs | Password reset
{% endblock %}

{% block content %}
<div class="globalWrapper">
    <section class="formLeft col-sm-6">
        <div class="formLeftImg">
            <img src="{% static 'images/city.jpg' %}" al="">
        </div>
        <div class="leftTitle">
            <h1>Password reset</h1>
        </div>
    </section>
    <section class="formRight col-sm-6">
        <div class="logo">
            <img src="{% static 'images/Logo.png' %}" alt="">
        </div>
        <div class="formTitle">
            <h3>Password reset done</h3>
            <p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
        <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
        </div>
    </section>
</div>



{% endblock %}
