{% extends "base.html" %}
{% load i18n static %}

{% block title %}
MarkUs | Password reset confirm
{% endblock %}

{% block content %}
<div class="globalWrapper">
    <section class="formLeft col-sm-6">
        <div class="formLeftImg">
            <img src="{% static 'images/city.jpg' %}" al="">
        </div>
        <div class="leftTitle">
            <h1>Password reset confirm</h1>
        </div>
    </section>
    <section class="formRight col-sm-6">
        <div class="logo">
            <img src="{% static 'images/Logo.png' %}" alt="">
        </div>
        {% if validlink %}
            <div class="formTitle">
                <h3>Password reset</h3>
                <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
            </div>
            <form method="post">{% csrf_token %}
                <fieldset class="module aligned">
                    <div class="form-row field-password1 form-item">
                        {{ form.new_password1.errors }}
                        <label for="id_new_password1">{% trans 'New password:' %}</label>
                        {{ form.new_password1 }}
                    </div>
                    <div class="form-row field-password2 form-item">
                        {{ form.new_password2.errors }}
                        <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
                        {{ form.new_password2 }}
                    </div>
                    <div class="form-actions">
                        <input type="submit" value="{% trans 'Change my password' %}"  />
                    </div>
                </fieldset>
            </form>
        {% else %}
            <div class="formTitle">
                <h3>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</h3>
            </div>
        {% endif %}
    </section>
</div>
{% endblock %}
{% block css %}
    <style>
    .form-row ul.errorlist {
        text-align: left;
        margin-left: 20%;
    }
    </style>
{% endblock %}