{% extends "base.html" %}
{% load i18n static %}

{% block title %}
MarkUs | Password reset complete
{% endblock %}

{% block content %}
<div class="globalWrapper">
    <section class="formLeft col-sm-6">
        <div class="formLeftImg">
            <img src="{% static 'images/city.jpg' %}" al="">
        </div>
        <div class="leftTitle">
            <h1>Password reset complete</h1>
        </div>
    </section>
    <section class="formRight col-sm-6">
        <div class="logo">
            <img src="{% static 'images/Logo.png' %}" alt="">
        </div>
        <div class="formTitle">
            <h3>Password reset complete</h3>
            <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
        </div>
        <p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>
    </section>
</div>
{% endblock %}
