{% extends 'base.html' %}
{% load static %}

{% block title %}
MarkUs | Forgot Password
{% endblock %}

{% block content %}
    <div class="globalWrapper">
        <section class="formLeft col-sm-6">
            <div class="formLeftImg">
                <img src="{% static 'images/city.jpg' %}" al="">
            </div>
            <div class="leftTitle">
                <h1>Forgot Password</h1>
            </div>
        </section>
        <section class="formRight col-sm-6">
            <div class="logo">
                <img src="{% static 'images/Logo.png' %}" alt="">
            </div>
            <div class="formTitle">
                <h3>Forgot</h3>
                <p>Enter your email and we send you a password reset link</p>
            </div>
            <form class="forgotPass" method="post">
                {% csrf_token %}

                <div class="form-item">
                    <input type="email" name="{{ form.email.name }}" placeholder="Email">
                    {% if form.email.errors %}
                        {{ form.email.errors }}
                    {% endif %}
                </div>
                <div class="form-actions">
                    <input type="submit" name="" value="Send request">
                    <a href="{% url 'users:login_page' %}" class="btn buttons">Back to login</a>
                </div>
            </form>
        </section>
    </div>
{% endblock %}